@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-primary bg-body text-white;
  }

  .h2 {
    @apply text-3xl capitalize;
  }

  .grad {
    @apply bg-gradient-to-t from-[#1F2126] to-[#33363D] drop-shadow-2xl;
  }

  .btn {
    @apply h-[40px] flex justify-center items-center rounded-[8px] px-10 py-[10px] text-sm uppercase font-bold;
  }

  .btn-accent {
    @apply bg-accent text-primary hover:bg-accent-hover transition-all;
  }

  .input {
    @apply h-[40px] rounded-[8px] w-full outline-none px-6 text-gray-300 bg-[#1d1f23];
  }

  .Hover {
    @apply hover:scale-105 duration-500 transition-all
  }

  .backDrop {
    @apply backdrop-blur-xl bg-opacity-80
  }

  .blur {
    @apply backdrop-blur-2xl bg-opacity-80
  }
}

/* In your CSS file */
.scroll-container {
  max-height: calc(150vh - 150px);
  /* Set the maximum height */
  overflow-y: auto;
  /* Enable vertical scrolling */
  scrollbar-width: thin;
  /* Hide the scrollbar for Firefox */
  scrollbar-color: transparent transparent;
  /* Hide the scrollbar for Firefox */
}

.scroll-container::-webkit-scrollbar {
  width: 0;
  /* Hide the scrollbar for Webkit browsers */
  height: 0;
}

@keyframes blink-animation {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.blink {
  animation: blink-animation 2s infinite;
  /* Set 'infinite' to loop the animation indefinitely */
}

/* Add a hover effect for the highlighted product */
.highlighted:hover {
  /* Define the styles to highlight the related product card */
  /* For example: add a box shadow or change background color */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  /* Other styles */
}